h1{
    text-align: center;
}
h4{
    
    font-size: 24px;
    color: rgb(238, 238, 245);
    background-color: green;
}
BR{
    font-size: 24px;
    text-align:left;
}
body{
    text-align: center;
    background-color:rgb(173, 211, 241);
    
}
img{
  
    text-align: center;
    float: left;
}
div{
    text-align: center;
}
p{
    text-align:left;

}
h2{
    text-align:left;
}